{% extends "base.html" %}

{% block title %}
UserPage
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{{ url_for('home') }}">Home</a>
            <span class="breadcrumb-item active">User Profile</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>User Profile</h1>
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
        </div>
    </section>
    <section class="static about-sec">
      <div class="container">
        <div class="row">
        <div class="col-md-8">
            <h2>Recent Orders</h2>
                <table class="order" border="1" cellpadding="5">
              <tr>
                <th class="orderdata">OrderID</th>
                <th class="orderdata">Books</th>
                <th class="orderdata">Tracking Number</th>
                <th class="orderdata">Delivery Status</th>
              </tr>
              {%  for items in orderinfo %}
              <tr>
                <td class="orderdata">{{ items.get_orderID() }}</td>

                <td class="orderdata">{{  items.get_trackingnum() }}</td>
                <td class="orderdata">{{ items.get_status() }}</td>
              </tr>
               {%  endfor %}
            </table>
      </div>
          <div class="col-md-4">
            <h3>User Profile</h3>
            <table border="0">
              <tr>
                <td>Name:</td>
              </tr>
              <tr>
                <td id="nameinfo">{{ name }}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Email:</td>
              </tr>
              <tr>
                <td id="emailinfo">{{ email }}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>User ID:</td>
              </tr>
              <tr>
                <td>{{ id }}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              {% if haveaddress is sameas true %}
              <tr>
                <td>Address:</td>
              </tr>
              <tr>
                <td>{{ address }}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Postal:</td>
              </tr>
              <tr>
                <td>{{ postal }}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Country:</td>
              </tr>
              <tr>
                <td>{{ country }}</td>
              </tr>
            </table>
              {% else %}
              <tr>
                <td>Please set Address</td>
              </tr>
            </table>
            <p></p>
                <a class="btn" href="{{ url_for('addressinfo') }}">Add Address</a>
            {% endif %}
            {% if haveaddress is sameas true %}
            <p>&nbsp;</p>
            <a class="btn" href="{{ url_for('changeaddress') }}">Change address</a>
            {% endif %}
            <p></p>
            <a class="btn" href="{{ url_for('changeinfo') }}">Change Password</a>
            {% if havequestion is sameas true %}
            <p></p>
            {% else %}
            <p></p>
            <a class="btn" href="{{ url_for('setquestion') }}">Add Security Question</a>
            {% endif %}
          </div>
      </div>
    </div>
    </section>
{% endblock %}